# Entrenamiento y Evaluación de Modelos

## Trabajo Práctico Nro. 2 - Grupo 3

#### Integrantes:
* Ignacio Busso
* Lucas Copes
* Jesica Heit

#### Dataset: https://www.kaggle.com/datasets/teejmahal20/airline-passenger-satisfaction
* Detalle: contiene datos de la satisfacción de los pasajeros de diferentes vuelos tomando en cuenta multiples aspectos (calidad del servicio, comodidad, limpieza, etc.)
* Target: columna 'satisfaction', para determinar la satisfacción de un pasajero respecto a un vuelo.
* Dimensiones: 25 columnas x 129.880 filas.

In [92]:
%matplotlib inline

import warnings
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

pd.options.display.max_columns = 0

#Cambios en el estilo de los graficos
plt.style.use('fast')
plt.rcParams.update({
    "font.family": ["serif"],
    "font.sans-serif": ["Roboto"],
    "font.size": 9,
    "axes.labelsize": 11,
    "axes.titlesize": 13,
    "xtick.labelsize": 11,
    "ytick.labelsize": 11,
    "legend.fontsize": 11,
    'figure.figsize': (11.0, 5.0),
    'axes.grid': True,
    'axes.spines.left': True,
    'axes.spines.right': True,
    'axes.spines.top': True,
    'axes.spines.bottom': True,
})

np.set_printoptions(suppress=True)

warnings.filterwarnings('ignore')

In [93]:
# Lectura y concatenación de los .csv
train = pd.read_csv('data/train.csv', index_col=[0])
test = pd.read_csv('data/test.csv', index_col=[0])
full = pd.concat([train, test], sort=False)

# Asignamos nuevos nombres a algunas de las columnas
new_column_names = {
    'Gender': 'gender',
    'Customer Type': 'customer_type',
    'Age': 'age',
    'Type of Travel': 'business_travel',
    'Class': 'ticket_class',
    'Flight Distance': 'flight_distance',
    'Inflight wifi service': 'wifi_service',
    'Departure/Arrival time convenient': 'departure_arrival_time_convenient',
    'Ease of Online booking': 'online_booking',
    'Gate location': 'gate_location',
    'Food and drink': 'food_and_drink',
    'Online boarding': 'online_boarding',
    'Seat comfort': 'seat_comfort',
    'Inflight entertainment': 'inflight_entertainment',
    'On-board service': 'onboard_service',
    'Leg room service': 'leg_room',
    'Baggage handling': 'baggage_handling',
    'Checkin service': 'checkin',
    'Inflight service': 'inflight_service',
    'Cleanliness': 'cleanliness',
    'Departure Delay in Minutes': 'departure_delay',
    'Arrival Delay in Minutes': 'arrival_delay',
}

full.rename(columns=new_column_names, inplace=True)
full.set_index('id', inplace=True)

In [101]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_transformer

# Conversión a variables booleanas
full['gender'] = full['gender'].replace(['Male','Female'],['0','1'])
full['customer_type'] = full['customer_type'].replace(['disloyal Customer','Loyal Customer'],['0','1'])
full['business_travel'] = full['business_travel'].replace(['Personal Travel','Business travel'],['0','1'])
full['satisfaction'] = full['satisfaction'].replace(['neutral or dissatisfied','satisfied'],['0','1'])


# One-hot Encoder en variable 'ticket_class'
full['ticket_class'] = full['ticket_class'].replace(['Business','Eco Plus','Eco'],['business','economy_plus','economy'])
transformer = make_column_transformer(
    (OneHotEncoder(), ['ticket_class']),
    remainder='passthrough')

transformed = transformer.fit_transform(full)

new_column_names = transformer.get_feature_names()
new_column_names[0] = 'ticket_business'
new_column_names[1] = 'ticket_economy'
new_column_names[2] = 'ticket_economy_plus'

transformed_df = pd.DataFrame(
    transformed, 
    columns = new_column_names
    
)

transformed_df

       ticket_business ticket_economy  ... arrival_delay satisfaction
0                  0.0            0.0  ...          18.0            0
1                  1.0            0.0  ...           6.0            0
2                  1.0            0.0  ...           0.0            1
3                  1.0            0.0  ...           9.0            0
4                  1.0            0.0  ...           0.0            1
...                ...            ...  ...           ...          ...
129875             1.0            0.0  ...           0.0            0
129876             1.0            0.0  ...           0.0            1
129877             0.0            1.0  ...           0.0            0
129878             1.0            0.0  ...           0.0            1
129879             0.0            1.0  ...           0.0            0

[129880 rows x 25 columns]

In [95]:
full.sample(15)

       gender customer_type  age  ... departure_delay arrival_delay  satisfaction
id                                ...
12959       0             1   41  ...              12           5.0             1
3386        0             0   24  ...               9          12.0             1
17867       0             1   58  ...               0           0.0             1
113546      1             1   63  ...              15          12.0             1
88491       0             1   22  ...              13          18.0             0
60549       0             1   30  ...              10           0.0             1
5960        1             1   26  ...               3           7.0             0
73638       0             1   26  ...               0           0.0             1
35451       0             1    8  ...               0           0.0             0
52319       1             0   30  ...               0           0.0             0
55553       1             1   70  ...              37          19.0             0
49607       0             0   24  ...              48          47.0             0
128947      0             1   39  ...              15          12.0             1
63665       0             1   65  ...              40           0.0             1
6583        1             1   40  ...              18          45.0             0

[15 rows x 23 columns]